## Cluster Analysis 

### Create new dataset with relevant features: 
- Average time taken for each problem (d) 
- average accuracy (d)
- Number of times a user upgrades (d)
- Number of time a user downgrades (d)
- Average time between each exercise 
- no. of hints used per qns attempted (d) 
- points (d)
- user grade (d) 
- teacher count (d)
- student count (d)
- class count (d)
- belongs to count (d) 
- badges count (d)

In [4]:
# Import libraries 
import pandas as pd 
import numpy as np 
import re  
import seaborn as sns 
import matplotlib.pyplot as plt
import os

info_content = pd.read_csv('C:/Users/AdminCOOP/desktop/BT4103/dataset/info_content.csv')
info_userdata = pd.read_csv('C:/Users/AdminCOOP/desktop/BT4103/dataset/info_UserData.csv')
log_problem = pd.read_csv('C:/Users/AdminCOOP/desktop/BT4103/dataset/Log_Problem.csv')

In [5]:
# %% load data
data_dir = r'C:\Users\Timothy Lim\Desktop\junyi\archive'
info_content = pd.read_csv(os.path.join(data_dir, 'Info_Content.csv'))
info_userdata = pd.read_csv(os.path.join(data_dir, 'Info_UserData.csv'))
log_problem = pd.read_csv(os.path.join(data_dir, 'Log_Problem.csv'))

In [21]:
log_problem

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
0,2019-05-26 21:00:00 UTC,FLy+lviglNR5Y1l0Xiijnl6QHySBcpKHJLCtQ6ogm2Q=,KDOmuTrY/IJzDP4kIgIYCBiGyTymsJ8Iy4cDB35WGYg=,Vbs92l4JmdiWkUEm/iahxnUTaac2oN1IlUtXB7JcfoE=,18,2,True,33,1,0,False,False,True,3
1,2019-05-17 16:30:00 UTC,+Gqj2nalc6M9fusyVECTC0AN7UQdDQTXESIuElkDltU=,COZ39Wo+uIUO2s7c2VGEHjJf6Vx0xifxVAiaeHtaTdk=,Ek+pIeHNNoEo0tGEq91eBcBmGgy3+A5RWhpj95zTyHM=,4,1,True,8,1,0,False,NaN,NaN,0
2,2019-05-15 19:15:00 UTC,6D5QN8j8ng/VR74ES3A0zqAj0bIFFyaKjKEj8ZyXjQ8=,TwyqyV1uJYlDAX8wX/PtTCVZEBo/APIVfTzzleGkNCQ=,1MBa2f5Qog4JBoAuUfJf0fxeJctdEirAqKgfsg246eI=,9,1,True,17,1,0,False,NaN,NaN,0
3,2019-05-05 14:45:00 UTC,GgTZuCqZXObthtK6GAwqvlHrTMm5pKHWeezQxL/pcKc=,tBo6ECyT8IlKAM8UhQHWkqv92PRLcSiwuerfC7vNX+w=,kdMy2nG+QVMjPkuaMEWs0yV/sYZVoG1vm7zM0fCy+qk=,2,1,True,10,1,0,False,NaN,NaN,0
4,2019-05-14 16:45:00 UTC,JMNKWoU0CkMSzgQ8bCnmCYlD8jEzAVge3lHMYLXKM2g=,vVpSKAMQbTMvtdERR0ksOeRmmaFt0R210t4Z//0RpPA=,jjPR8fmkLSFoCQQYB4g6kI8mgdcK3sKtMirKUvfmZIk=,6,1,True,98,1,0,False,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16217306,2019-04-28 18:30:00 UTC,OhWXH8C9z/xwoVDoZ8E5HlQcZKQT90HeNxiMoBb8zu4=,dp0m1kS6Bygoksx9S/gkBqTcWPoglbf1HT3Ma3U3N8U=,HROyctImDBKuPzjUmVSIohpPweqOuiui22XdmzgKM8I=,7,1,True,11,1,0,False,False,True,2
16217307,2019-04-25 19:15:00 UTC,EuYrT0f2bBxb1mZgHVsuxgwx3v1M5ObPf6Hxx5JGoYE=,WIVV2NtKYatcEnMpVQbIYkGSMd8Q9Xt74y5a+V5bXs0=,KbXWuEmsRHIjtQ0iVYmnpnPoDPzKMSRYo7QiezC664s=,24,2,True,31,1,0,False,False,True,2
16217308,2019-04-25 21:30:00 UTC,CCM2Y18/BIKVuA1YF76my0pEPuniFUQGDaHB/uRnvak=,ZcwX8fZUrnZDOsvBOPux3Oaf1viIG83MNe5frh0jnQw=,tfg/S0CdP/aN7ZW8N1hhSJ1Nq/bOFXdtLGkpQYFMzBg=,10,1,True,32,1,0,False,NaN,NaN,0
16217309,2019-04-12 16:30:00 UTC,kdK8yywPKV0DPbIC7gagzvPyxpC05fA4T9GCBscO2Rk=,HKqPgUALqZGw984KFqAMeDwDJTi9cNhJ51UXfjzELSg=,qAAyk/Jf5/muzMzQ9YaWGQPT10enAZctCKNrm3dQ1IY=,40,3,True,22,1,0,False,NaN,NaN,2
16217310,2019-04-01 20:00:00 UTC,sAWxtM6fgTMFGnZ+gRex0UpD5rncOAwRVs0SauTWzfU=,5XP5A34EbVYPsNgi2q9tNzuW5fSOenWfbBkAXDGKAfw=,XdGIwnveMOplh6TxLzeN8TO5SV524bCHxGxeIa3Ixhs=,13,1,True,82,1,0,False,NaN,NaN,2

In [22]:
# for each student, what was the avg time they spent per problem? 
avg_time_problem = log_problem.groupby(by='uuid')['total_sec_taken'].mean()
avg_time_problem

uuid
++5bdNp/LZvGenJ8Brp4n2SfS9d4pu4qA7cF7FQW7hk=     60.400000
++9EkR6syMGk44XpyhOj40cg9xiXwCLS/TwEy+ujrL0=     14.758621
++E4TrlDYvGtPBg1edhkLXLEEbnfiAgAamPQ33vpW8M=     89.800000
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=     37.804878
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=     31.890323
                                                   ...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=    130.307692
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=     87.333333
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=     46.907173
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=     10.217391
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=     16.436782
Name: total_sec_taken, Length: 72758, dtype: float64

In [23]:
# student accuracy
student_accuracy = log_problem.groupby(by='uuid')['is_correct'].mean()
student_accuracy

uuid
++5bdNp/LZvGenJ8Brp4n2SfS9d4pu4qA7cF7FQW7hk=    1.000000
++9EkR6syMGk44XpyhOj40cg9xiXwCLS/TwEy+ujrL0=    0.103448
++E4TrlDYvGtPBg1edhkLXLEEbnfiAgAamPQ33vpW8M=    0.700000
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=    0.560976
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=    0.883871
                                                  ...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=    0.884615
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=    0.666667
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=    0.552743
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=    0.956522
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=    0.741379
Name: is_correct, Length: 72758, dtype: float64

In [24]:
# no. of upgrades and downgrades
n_upgrades = log_problem.groupby(by='uuid')['is_upgrade'].sum()
n_downgrades = log_problem.groupby(by='uuid')['is_downgrade'].sum()

In [84]:
# no. of hints used per qns attempted
n_hints_per_attempted = log_problem.groupby(by='uuid')['is_hint_used'].mean()
n_hints_per_attempted

uuid
++5bdNp/LZvGenJ8Brp4n2SfS9d4pu4qA7cF7FQW7hk=    0.000000
++9EkR6syMGk44XpyhOj40cg9xiXwCLS/TwEy+ujrL0=    0.724138
++E4TrlDYvGtPBg1edhkLXLEEbnfiAgAamPQ33vpW8M=    0.300000
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=    0.439024
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=    0.032258
                                                  ...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=    0.115385
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=    0.259259
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=    0.295359
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=    0.043478
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=    0.172414
Name: is_hint_used, Length: 72758, dtype: float64

In [27]:
import datetime as dt
log_problem['timestamp_TW'] = log_problem['timestamp_TW'].apply(lambda x: dt.datetime.strptime(x[:-4], "%Y-%m-%d %H:%M:%S"))
log_problem.sort_values(by='timestamp_TW', ascending=True, inplace=True)
log_problem.head()

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
105021,2018-08-01 07:45:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,9Ksy3bdm0HTi0D+cdKSBKDQJjo5GNahep91FqHUrpts=,2,1,True,8,1,0,False,NaN,NaN,0
11669798,2018-08-01 07:45:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,/Wgjdl2BsldHZDdXXvzwGimusaMX548lqV2b7PgwXAs=,1,1,True,10,1,0,False,NaN,NaN,0
3768239,2018-08-01 07:45:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,vsGlLPd9C58B8myBoGMGre2pDHjh62eRjsqX57D98fU=,5,1,True,6,1,0,False,False,True,1
10163558,2018-08-01 07:45:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,h3CI/U4QJd6mjYE5xRH8QEst8lRG7otYIz+q1V6Och4=,5,1,True,5,1,0,False,False,True,1
8372688,2018-08-01 07:45:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,OSuDd4rDo2muXXwwJRU2DQVHkk6/JOGgNzfzNi4PMJM=,3,1,True,4,1,0,False,NaN,NaN,0

In [59]:
log_problem.tail()

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
5351619,2019-08-01,liamj78o0Ae2wnaS0hq7LUfSTsp3xB6HEcffaKBUzGc=,lG8uYsrQADh32pvOcrvytT25qo4UpZUGkrybb4ycFEs=,6yQTtifKhIRKCTcjWwYgZEJgiJeKvNzlI9b5pRh5d4s=,6,1,True,18,1,0,False,False,True,1
8225534,2019-08-01,DndeYzUnQn5RMFK82bE5EUK7UeWFnO3VgT7uAuluqTM=,Av3E5D+JWfyHjDr2vSsiW200MsgBmim5sLZc4UBQM/0=,/ehY6iTAB3z7NB52RLi87aynoVLADwEjle/pIW6WHig=,9,1,True,7,1,0,False,NaN,NaN,1
14727695,2019-08-01,t2N6muKWIarXYsUVv/M4rOx/+Qe0Gy9eC0ufuf7vZ0c=,GcuG2ukgxXmym9WSnWnlpKVNUFysZ8QfpAgpJMcheMU=,HEFfwmy7pwKhEadwn+17iN+Ik+TEWh7KE6fbKWuf0RU=,6,1,False,102,2,0,False,NaN,NaN,1
13201613,2019-08-01,hCyJTrhgUprNNWpJYKPcyHIxDHnbW91tv0OEM0wXSuI=,Wk1PobqnhB1FsjjiU84gVNe9j4O6SLWWYfvGb/l6MR4=,o1ITX1QcpkBe8d4UjsZH3yUfBC9caKoPTJV7Ls6IqNE=,5,1,True,5,1,0,False,False,True,1
15112240,2019-08-01,liamj78o0Ae2wnaS0hq7LUfSTsp3xB6HEcffaKBUzGc=,zcH7Yl/gFwkU2Mej9UzQgaJL66wIdiMucPZwVyeqHxc=,Ms5i+EI/9bpS14wA2YcLHjmfReyVKqfjXuXJe2o9ds8=,1,1,True,31,1,0,False,NaN,NaN,0

In [95]:
# shift cols down by 1
log_problem['ucid_shifted'] = log_problem.groupby(by='uuid', sort=False)['ucid'].shift(1)
log_problem['timestamp_shifted'] = log_problem.groupby(by='uuid', sort=False)['timestamp_TW'].shift(1)
log_problem[log_problem['uuid']==log_problem['uuid'][100]][['timestamp_TW', 'timestamp_shifted', 'ucid', 'ucid_shifted']]

,timestamp_TW,timestamp_shifted,ucid,ucid_shifted
9423058,2019-05-30 16:45:00,NaT,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=,NaN
100,2019-05-30 16:45:00,2019-05-30 16:45:00,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=
12909679,2019-05-30 16:45:00,2019-05-30 16:45:00,Jl92cIZYcCutl8sqyj2VP8UbUigvqBoHBO/R38DK1DU=,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=
3181643,2019-05-30 16:45:00,2019-05-30 16:45:00,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=,Jl92cIZYcCutl8sqyj2VP8UbUigvqBoHBO/R38DK1DU=
16105881,2019-05-30 16:45:00,2019-05-30 16:45:00,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=,A2548sl8hqkIMIGY7mlg/p2NN83cncQx2SgT00lyByk=
...,...,...,...,...
6673029,2019-06-05 13:30:00,2019-06-05 13:15:00,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=,z5YJ7GOEyGfxENlfIjBKbMbTzhp3V5TS6Zp62Y/PKPc=
4907715,2019-06-05 13:30:00,2019-06-05 13:30:00,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=
12714752,2019-06-05 13:30:00,2019-06-05 13:30:00,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=
1951229,2019-06-05 13:30:00,2019-06-05 13:30:00,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=
12791838,2019-06-05 13:30:00,2019-06-05 13:30:00,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=,xaWHtJt0hf186kbfofLHHt94c0qSZE3L7nvrmIAexws=

In [107]:
# keep relevant rows
mask = (log_problem['ucid']!=log_problem['ucid_shifted']) & (log_problem['ucid_shifted'].notna())
relevant_logs = log_problem[mask]

# find time diff
relevant_logs['time_diff'] = (relevant_logs['timestamp_TW'] - relevant_logs['timestamp_shifted']).dt.total_seconds()

# get avg time
avg_time = relevant_logs.groupby(by='uuid')['time_diff'].mean()
avg_time

C:\Users\Timothy Lim\Anaconda3\envs\capstone\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

uuid
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=     33369.230769
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=     52846.601942
++KRUQaY4gFsmV7egJVOWqbqbTth/oJBB7yX1HvCSL4=     54818.181818
++LzeMQy/8bNUGD2K5Ms/GdiBlQ16ii82xNw3BYtOZE=     35804.651163
++N4tZH9IkIqtzD06TVvEK4rjiCHFSSqhCtuDhxJvII=      1687.500000
                                                    ...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=       270.000000
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=       120.000000
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=    206502.352941
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=       120.000000
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=    208050.000000
Name: time_diff, Length: 62915, dtype: float64

In [109]:
# check
user = 'zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA='
relevant_logs[relevant_logs['uuid']==user][['timestamp_TW', 'timestamp_shifted', 'time_diff']]

                timestamp_TW   timestamp_shifted  time_diff
10828515 2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
15843727 2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
2890160  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
9274048  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
6069370  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
10768349 2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
7531640  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
2848339  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
4308513  2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
13752330 2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
15605996 2019-01-26 13:45:00 2019-01-26 13:45:00        0.0
15607628 2019-01-26 14:00:00 2019-01-26 13:45:00      900.0
6048187  2019-01-26 14:00:00 2019-01-26 14:00:00        0.0
1127457  2019-01-26 14:00:00 2019-01-26 14:00:00        0.0
15862252 2019-01-26 14:15:00 2019-01-26 14:00:00      900.0

In [108]:
# check no negative vals
avg_time.min()

0.0

In [110]:
# merge everything together
avg_time_problem.name = 'avg_time_per_problem'
student_accuracy.name = 'avg_accuracy'
n_downgrades.name = 'n_downgrades'
n_upgrades.name = 'n_upgrades'
n_hints_per_attempted.name = 'n_hints_per_attempted'
avg_time.name = 'avg_time_btwn_ex'

clustering_input = pd.concat([avg_time_problem, student_accuracy, n_downgrades, n_upgrades, n_hints_per_attempted,
                              avg_time], axis=1)
clustering_input

,avg_time_per_problem,avg_accuracy,n_downgrades,n_upgrades,n_hints_per_attempted,avg_time_btwn_ex
uuid,,,,,,
++5bdNp/LZvGenJ8Brp4n2SfS9d4pu4qA7cF7FQW7hk=,60.400000,1.000000,0,1,0.000000,NaN
++9EkR6syMGk44XpyhOj40cg9xiXwCLS/TwEy+ujrL0=,14.758621,0.103448,0,0,0.724138,NaN
++E4TrlDYvGtPBg1edhkLXLEEbnfiAgAamPQ33vpW8M=,89.800000,0.700000,0,1,0.300000,NaN
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=,37.804878,0.560976,0,2,0.439024,33369.230769
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=,31.890323,0.883871,0,19,0.032258,52846.601942
...,...,...,...,...,...,...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=,130.307692,0.884615,0,4,0.115385,270.000000
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=,87.333333,0.666667,0,3,0.259259,120.000000
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=,46.907173,0.552743,0,17,0.295359,206502.352941
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=,10.217391,0.956522,0,3,0.043478,120.000000
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=,16.436782,0.741379,0,12,0.172414,208050.000000

In [111]:
cols_wanted = ['points', 'badges_cnt', 'user_grade', 'has_teacher_cnt', 'has_student_cnt', 'has_class_cnt',
               'belongs_to_class_cnt', 'has_class_cnt']

clustering_input = clustering_input.merge(info_userdata[cols_wanted + ['uuid']], left_index=True, right_on='uuid')
clustering_input.set_index('uuid')

,avg_time_per_problem,avg_accuracy,n_downgrades,n_upgrades,n_hints_per_attempted,avg_time_btwn_ex,points,badges_cnt,user_grade,has_teacher_cnt,has_student_cnt,has_class_cnt,belongs_to_class_cnt,has_class_cnt
uuid,,,,,,,,,,,,,,
++5bdNp/LZvGenJ8Brp4n2SfS9d4pu4qA7cF7FQW7hk=,60.400000,1.000000,0,1,0.000000,NaN,16725,1,7,1,0,0,1,0
++9EkR6syMGk44XpyhOj40cg9xiXwCLS/TwEy+ujrL0=,14.758621,0.103448,0,0,0.724138,NaN,1200,3,7,1,0,0,1,0
++E4TrlDYvGtPBg1edhkLXLEEbnfiAgAamPQ33vpW8M=,89.800000,0.700000,0,1,0.300000,NaN,9533,0,5,1,0,0,1,0
++G4mkLfs4WDYhc1Ga+3G+/oqSniQQvLBm7SBQ3V39Y=,37.804878,0.560976,0,2,0.439024,33369.230769,8027,0,6,1,0,0,1,0
++GobOSWqrsaxoRg1bMN+T6biIJcgBXwuOH/ddq3DiU=,31.890323,0.883871,0,19,0.032258,52846.601942,41831,2,7,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zztwLsjf44Uzumou84qh04wObpugkIllLCIp/mgoMu8=,130.307692,0.884615,0,4,0.115385,270.000000,7500,0,9,1,0,0,1,0
zzueVRV14tXIEgW4ixiqmtPNaFYz4MIifbMM/H2tmqA=,87.333333,0.666667,0,3,0.259259,120.000000,3750,0,4,0,0,0,0,0
zzujjvdKzb4wL8cFKdF3Of5gg2XHzIDQCZ2TfaYpSNs=,46.907173,0.552743,0,17,0.295359,206502.352941,33370,4,3,3,0,0,4,0
zzvvUOwcSXXTXd8xoyimNcm2DjeVPLmZAI19WKfhSAM=,10.217391,0.956522,0,3,0.043478,120.000000,7995,1,5,1,0,0,0,0
zzyukk9LNl7j/9xxgZj6roQBbGn1MjSPTCgc0r5sXpU=,16.436782,0.741379,0,12,0.172414,208050.000000,28053,5,7,1,0,0,0,0

### Clustering